body{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding-top: 10px;
}


.nav-btn1{
    border: none;
    background-color: darkgray;
    border-radius: 5px;
    
}

.nav-btn2{
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 5px 25px;
}

.choice-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.box{
    width: 312px;
    height: 300px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    padding-top: 30px;
}

.thumbnail-img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.inner-card{
    display: flex;
    padding-top: 10px ;
    gap: 10px;
    text-align: left;
}

.verified-badge {
    color: white;
    background-color: blue;
    border-radius: 50%;
}


.img-container {
    position: relative;
}


.time-info {
    position: absolute;
    top: 80%; 
    left: 30%;
    background-color: black; 
    color: white; 
}

.error-section{
    text-align: center;
    margin-top: 100px;
    
}


@media (max-width: 725px) {
    .nav-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-btn1,
    .nav-btn2 {
        margin-top: 20px;
    }
}